These are a few requirements for cloning and editing this repository. Few are optional and few are not optioanl.

NOTE: The Python Packages listed below are must have. Anaconda3, Git Bash, etc. are not neccessary but is preffered to be installed.
      They may not be required directly, but they help, identify issues and debugging. Visual Studio Code is recommended to use since
      it has a lot of potential tools built-in, such as a Debugger, Integrated Terminal, Git and GitHub Integrations, etc. And the
      extensions are very much optional. But few are required. Such as TODO Highlight is used in the code. Having it would help, but
      not mandatory.

Required - 

Tools and Technologies:
1. Python <= 3.6 (<= 3.8 Preffered) - https://python.org
2. Command Prompt(Windows) or Cygwin(Windows) or Terminal(Unix-Based) or Git Bash(All OS)
3. Git(& Git Bash)
4. GitHub(Account)
5. Any web browser

Python Packages:
1. requests
2. pytube
3. playsound
4. setuptools
5. wheel
6. pip
7. twine(Just in case)

Extensions(If using VS Code):
1. Python by Microsoft
2. Pylance by Microsoft

Preffered or Optional - 

Tools and Technologies:
1. Anaconda3
2. GitHub CLI
3. GitHub Desktop

Code Editor(anyone):
1. Visual Studio Code - https://code.visualstudio.com
2. Visual Studio Code Insiders - https://code.visualstudio.com/insiders

Extensions in Visual Studio Code:
1. Error Lens by Alexander
2. Git Graph by mhutchie
3. GitLens - Git Supercharged by Eric Amodio
4. Python Indent by Kevin Rose
5. Python Preview by dongli
6. Python Test Explorer for Visual Studio Code by Little Fox Team
7. TabNine Autocomplete by TabNine
8. GitHub Pull Requests and Issues by GitHub
9. TODO Highlight by Wayou Liu

Themes in Visual Studio Code(Fully Optional):
2. Theme - GitHub Dark
3. File Icon Theme - Material Icon Theme
4. Product Icon Theme - Carbon Icons

Font(If using VS Code):
1. Fira Code with Font Ligatures Enabled

Settings for TODO Highlight(if using, not optioanl):
{
    "todohighlight.keywords": [
        {
            "text": "FIX:",
            "color": "rgb(255, 0, 0)",
            "backgroundColor": "rgba(255, 0, 0, 0.2)",
        },
        {
            "text": "TIP:",
            "color": "rgb(0, 255, 0)",
            "backgroundColor": "rgba(0, 255, 0, 0.2)"
        },
        {
            "text": "TODO:",
            "color": "rgb(255, 0, 0)",
            "backgroundColor": "rgba(0, 0, 225, 0.5)"
        },
        {
            "text": "NOTE:",
            "color": "rgb()",
            "backgroundColor": "rgba()"
        }
    ]
}
