alabaster==0.7.12
docutils==0.17.1
groundwork-sphinx-theme==1.1.1
python-docs-theme==2021.5
myst-parser==0.15.1
playsound==1.2.2
pretty-errors==1.2.23
pypiwin32==223
pytest==6.2.4
pytube==10.9.2
Sphinx
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport
twine==3.4.1
urllib3==1.26.6
virtualenv==20.4.7
enrocrypt==1.0.7
